###########################
# WebStorm Files
###########################
.idea/
*ipr
*.iml


###########################
# NPM Files
###########################
node_modules
npm-debug.log


###########################
# Local Files
###########################
_files
.temp
.files
.tmp
.sass-cache


###########################
# Misc Files
###########################
.DS_Store
.c9
ical


###########################
# Dynamic Files
###########################
bower_components
